### Tuples(it cannot changable)
######### it is collection of different data types seperated by    commas(,) and enclosed with()

In [1]:
t=(1,2,3,4,5,"hii",6.7)
t

(1, 2, 3, 4, 5, 'hii', 6.7)

In [2]:
type(t)

tuple

In [3]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [4]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [5]:
t.count(2)

1

In [6]:
t1=(2,3,45,3,4,4,"nikki","kikki","chandu","lik")
type(t1)

tuple

In [7]:
t1.count(4)

2

In [8]:
t1.index("kikki")

7

In [10]:
t1[0]

2

In [11]:
t1[-1]

'lik'

In [12]:
t1[1:]

(3, 45, 3, 4, 4, 'nikki', 'kikki', 'chandu', 'lik')

In [20]:
print(t1*2,)

(2, 3, 45, 3, 4, 4, 'nikki', 'kikki', 'chandu', 'lik', 2, 3, 45, 3, 4, 4, 'nikki', 'kikki', 'chandu', 'lik')

In [15]:
print(t+t1)

(1, 2, 3, 4, 5, 'hii', 6.7, 2, 3, 45, 3, 4, 4, 'nikki', 'kikki', 'chandu', 'lik')

### Set     (the syntax for sets is {})
####### It is the collection of elements seperated by commas(,) enclosed with {} it doesnt has index.The elements are in inordered

In [21]:
s={1,4,6,8,3,9}
type(s)

set

In [27]:
se={1,2,3,4,5,5,6,6,7,7}         #####it gives only one time output
se

{1, 2, 3, 4, 5, 6, 7}

In [24]:
s={"mango","apple","melon","mango"}         ### it can give unique elements
print(type(s))
s

<class 'set'>

{'apple', 'mango', 'melon'}

In [25]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [26]:
s

{'apple', 'mango', 'melon'}

In [28]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [29]:
se

{1, 2, 3, 4, 5, 6, 7}

In [30]:
se.add(23)
se

{1, 2, 3, 4, 5, 6, 7, 23}

In [33]:
se.clear()
se

set()

In [34]:
ss={1,2,3,4,5,6,7}
ss

{1, 2, 3, 4, 5, 6, 7}

In [37]:
sc=ss.copy()
print(sc)
print(ss)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [38]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [63]:
sd1={1,2,3,4,5}
sd2={1,2,3,6,7}
print(sd1.difference(sd2))         ####the elements which are not present in both statements remaining will be printed
print(sd2.difference(sd1))
print(sd1)

{4, 5}
{6, 7}
{1, 2, 3, 4, 5}

In [45]:
help(set.difference_update)

Help on method_descriptor:

difference_update(...)
    Remove all elements of another set from this set.

In [65]:
s1={1,2,3,4,5}
s2={1,2,3,6,7}
x=s1.difference_update(s2)
print(x)
print(s1)

None
{4, 5}

In [46]:
print(sd1.isdisjoint(sd2))  #### if there are no elements in the both sets it is true if elements are present  its false

True

In [47]:
print(sd1.union(sd2))

{1, 2, 3, 4, 5, 6, 7}

In [48]:
print(sd1.intersection(sd2))

set()

In [55]:
s1={1,2,3,4,5}      #### if the elements are same then its true if not false
s2={1,2,3,4,5}
print(s1.issubset(s2))

True

In [56]:
####### Acessing elements in set

In [60]:
s_1={1,2,3,4,5}
for mstp in s_1:
    print(mstp,end=",")

1,2,3,4,5,

In [62]:
s_1.update(s1)
s_1

{1, 2, 3, 4, 5}

In [67]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [68]:
x={1,2,3,4,5}
y={1,2,13,6,7}
z=x.symmetric_difference(y)
z

{3, 4, 5, 6, 7, 13}

In [70]:
x

{1, 2, 3, 4, 5}

In [71]:
y

{1, 2, 6, 7, 13}

In [72]:
x.pop()
x

{2, 3, 4, 5}

In [73]:
x.pop()
x

{3, 4, 5}

In [74]:
y.remove(6)
y

{1, 2, 7, 13}

In [75]:
y.discard(13)
y

{1, 2, 7}

In [77]:
li=[1,2,3,3,4,5,5,6]
print(type(li),li)
a=set(li)
print(type(a),a)

<class 'list'> [1, 2, 3, 3, 4, 5, 5, 6]
<class 'set'> {1, 2, 3, 4, 5, 6}

In [14]:
a=list(set(map(int,input().split())))
print(a)

5 6 7 8 8 5
[8, 5, 6, 7]