## Handling csv files                 (csv==comma seperated values)

In [1]:
file="mstp.txt"
def name(file):
    with open(file,'w') as f:
        f.write("kvsw"+","+"kvsr"+","+"kvsm")
name(file)

In [2]:
with open(file,'a') as f:
    f.write("\n""hello"+","+"sai"+","+"how are you")

In [3]:
with open(file,'r') as f:
    s=f.read()
    print(s)

kvsw,kvsr,kvsm
hello,sai,how are you

In [4]:
with open(file,'r') as f:
    s=f.readlines()
    print(s)
    print(s[0])

['kvsw,kvsr,kvsm\n', 'hello,sai,how are you']
kvsw,kvsr,kvsm

In [6]:
file="contacts.txt"
with open(file,'a') as f:
    f.write("nikki"+","+"9642609876"+","+"luckynikhila@gmail.com""\n")
    f.write("kiki"+","+"9642609876"+","+"luckynikhila@gmail.com")

In [17]:
#getting csv files in list file
def csvtolist(file):
    l=[]
    with open(file,'r') as f:
        for line in f:
            l.append(line.split(","))
    return l
csvtolist(file)

[['nikki',
  '9642609876',
  'luckynikhila@gmail.comnikki',
  '9642609876',
  'luckynikhila@gmail.com\n'],
 ['kiki', '9642609876', 'luckynikhila@gmail.com']]

In [18]:
#### list file to csv file
def listtocsv(file):
    d=csvtolist(file)
    s=""
    for i in d:
        s+=",".join(i)
    print(s)
listtocsv(file)

nikki,9642609876,luckynikhila@gmail.comnikki,9642609876,luckynikhila@gmail.com
kiki,9642609876,luckynikhila@gmail.com

In [20]:
import re
def phoneno(no):
    pattern="^[+][9][1][6-9][0-9]{9}$|^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$"
    if re.match(pattern,str(no)):
        return 1
    else:
        return 0
phoneno("9346688524")

1

In [25]:
def emailval(n):
    pattern="^([0-9]|[a-z]|[A-Z])([0-9]|[a-z]|[A-Z]|[_]){6,14}([0-9]|[a-z]|[A-Z])@([a-z]|[A-Z]){1,10}[.][a-z]{2,4}$"
    if re.match(pattern,str(n)):
        return 1
    else:
        return 0
emailval("luckynikhila467@gmail.com")

1

In [42]:
import re
def phoneno(no):
    pattern="^[+][9][1][6-9][0-9]{9}$|^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$"
    if re.match(pattern,str(no)):
        return 1
    else:
        return 0
def emailval(n):
    pattern="^([0-9]|[a-z]|[A-Z])([0-9]|[a-z]|[A-Z]|[_]){6,14}([0-9]|[a-z]|[A-Z])@([a-z]|[A-Z]){1,10}[.][a-z]{2,4}$"
    if re.match(pattern,str(n)):
        return 1
    else:
        return 0  
def searchcontact(name,file):
    s=csvtolist(file)
    for i in s:
        if i[0]==name:
            return 1
    return 0
searchcontact("nikki","contacts.txt")
def addcontact(name,no,n,file):
    if searchcontact(name,file)==0:
        if phoneno(no)==1:
            if emailval(n)==1:
                with open(file,'a') as f:
                    f.write("\n"+name+","+no+","+n)
                    print("contact added successfully")
    else:
        return 1
        print("contact already exists")
addcontact("nikki","9867937966","jhhfgsbgaksfdh@gmail.com","contacts.txt")

1

In [ ]:
if addcontact==1:
    with open(file,)

# Functional Programming

In [1]:
# procedural language----------->c
# scripting language------------>php,java,python,shell
# comprehension tecniques-----to reduce the coding by this techniques

In [4]:
# print first n natural numbers
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

10
1 2 3 4 5 6 7 8 9 10

### List comprehension techniques:

In [5]:
## ===>expression for list in item condition------>syntax

In [102]:
n=int(input())
l=[i for i in range(1,n+1)]
sum(l)

10

55

In [10]:
x="apssdc"
for i in x:
    print(i,end=" ")

a p s s d c

In [12]:
s="google.com"
a=s.upper()
a

'GOOGLE.COM'

In [14]:
f=[i.upper() for i in s]
f

['G', 'O', 'O', 'G', 'L', 'E', '.', 'C', 'O', 'M']

In [15]:
x="123abc"
for i in x:
    if i.isdigit():
        print(i,end=" ")

1 2 3

In [16]:
for i in x:
    if i.isalpha():
        print(i,end=" ")

a b c

In [17]:
ls=[n for n in x if n.isalpha()]
l=[n for n in x if n.isdigit()]
print(ls)
print(l)

['a', 'b', 'c']
['1', '2', '3']

In [35]:
x=int(input())
for i in range(1,x+1):
    a=(i**(1/2))
    print(a)

4
1.0
1.4142135623730951
1.7320508075688772
2.0

In [36]:
import math
n=int(input())
l=[]
for i in range(1,n+1):
    l.append(math.sqrt(i))
l

5

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [39]:
level=[i*i for i in range(21,31)]
level

[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [40]:
level=[i**3 for i in range(41,51)]
level

[68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000]

In [66]:
def factorialof(n):
    l=[]
    a=1
    for i in range(1,n+1):
        a=a*i
        l.append(a)
    print(l)
factorialof(5)

[1, 2, 6, 24, 120]

In [71]:
listof=[factorialof(i) for i in range(6)]

[]
[1]
[1, 2]
[1, 2, 6]
[1, 2, 6, 24]
[1, 2, 6, 24, 120]

In [84]:
li=[i for i in range(11,21) if i%2==0]
lis=[i for i in range(11,21) if i%2!=0]
print(li)
print(lis)

[12, 14, 16, 18, 20]
[11, 13, 15, 17, 19]

In [89]:
for i in range(11,21):
    if i%2==0:
        print("even",i)
    elif i%2!=0:
        print("odd",i)

odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20

### else condition in comprehension

In [91]:
h=["even" if i%2==0 else "odd" for i in range(11,21)]
h

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [92]:
#divisible by 2 and 5

In [103]:
# leap year from 2000-2020
h=[i for i in range(2000,2021) if i%4==0 if i%400==0 or i%100!=0]
print(h)

[2000, 2004, 2008, 2012, 2016, 2020]

## Lambda-------------->it accepts only one expression

In [105]:
# anonymous function
# syntax------>    lambda arguments:expression
#--------------for square
d=lambda n:n**2
print(d(6))

36

In [107]:
a=lambda n:n**3
print(a(4))

64

In [114]:
l=[1,2,3,4,5]
l1=[]
for j in range(len(l)):
    a=l[j]**2
    l1.append(a)
print(l1)

[1, 4, 9, 16, 25]

In [115]:
s=[l[i]**2 for i in range(len(l))]
s

[1, 4, 9, 16, 25]

### iterations

In [116]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [123]:
#  iter(),next()------------>it take only required value in given list
a=iter(l)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5

### Generators

In [125]:
def add(a,b):
    return a+b
    a+=1
    b+=1
    return a+b
add(2,3)

5

In [131]:
def add(a,b):
    c=a+b
    yield c
    a+=1
    b+=1
    c=a+b
    yield c
d=add(2,3)
print(next(d))
print(next(d))
for i in add(2,3):
    print(i)

5
7
5
7

## Map

In [134]:
#### syntax----->map(fun,iterable)
def square(n):
    return n**2
l=[1,2,3,4,5]
print(list(map(square,l)))

[1, 4, 9, 16, 25]

In [ ]:
### using lambda

In [135]:
l=[1,2,3,4,5]
print(list(map(lambda x:x**2,l)))

[1, 4, 9, 16, 25]

In [144]:
##### addition of two numbers
t=(1,2,3)
t1=(4,5,6)
a=map(lambda a,b:a+b,t,t1)
print(list(a))

[5, 7, 9]

### Filter

In [147]:
# filter(fun,iterable)
l=[1,2,3,4,5,6,7,8]
a=list(filter(lambda x:x%2==0,l))
a

[2, 4, 6, 8]

In [168]:
l=[1,2,3,'a','b']
l1=[]
for i in l:
    if str(i).isdigit():
        l1.append(i)
def digit(n):
    if str(n).isdigit():
        return True 
    return False    
digit(l1)
a=list(filter(digit,l1))
a

[1, 2, 3]

In [192]:
def primenum(n):
    fact=0
    for i in range(1,n+1):
        if n%i==0:
            fact=fact+1
    if fact==2:
        return True
    return False
print(list(filter(primenum,l)))

[2, 3, 5, 7]