# Assignment operators

In [16]:
n=30
n//=30
print(n)

1

# Comparision operators

In [3]:
a=5
b=20
print(a<b)
print(a>b)
print(a!=b)
print(a==b)

True
False
True
False

# Logical operators

In [4]:
x=3
y=6
print(x and y)
print(x or y)
print(not x)
print(not y)

6
3
False
False

# Bitwise operators

In [6]:
c=12
d=35
print(c|d)
print(c&d)
print(c^d)
print(c>>d)
print(c<<d)

47
0
47
0
412316860416

# Identity operators

In [10]:
a=8
a is 8

True

In [11]:
a is not 8

False

# Membership operators

In [15]:
x=[10,20,30,40,50]
print(10 in x)
print(22 in x)
print(22 not in x)

True
False
True

# Input/Output

In [17]:
print("nikki")

nikki

In [18]:
print(x)

[10, 20, 30, 40, 50]

In [19]:
print("enter a number")
x=input()

enter a number
20

In [22]:
x=input("enter a number ")

enter a number 22

In [23]:
x=input("enter a number")
y=input("enter a number")
z=input("enter a number")

enter a number2
enter a number3
enter a number4

In [28]:
print(x,y,z)
print(x,y,z,sep=",")
print(x,y,z,sep=":")
print(x,y,z,sep=";")

2 3 4
2,3,4
2:3:4
2;3;4

In [30]:
print(x,end="\t")
print(y,end="\t")
print(z)

2	3	4

In [34]:
x=int(input())
y=int(input())
print("addition",x+y)

30
60
addition 90

In [36]:
x=input("enter a num")
y=input("enter a num")
print(int(x)+int(y))

enter a num3
enter a num6
9

In [37]:
x=float(input("enter a num"))
y=float(input("enter a number"))
print(x+y)

enter a num3
enter a number6
9.0

# Strings

In [41]:
print("hello\nworld")
print("hello world")
print('hello world')
print("i don't")
print('i don\'t')
print('''first
second
third''')
print("first\nsecond\tthird")

hello
world
hello world
hello world
i don't
i don't
first
second
third
first
second	third

In [44]:
x=20
y=30
print("sum of",x,"and",y,"is",x+y)

sum of 20 and 30 is 50

In [45]:
x=20
y=30
print("sum of {0} and {1} is {2}".format(x,y,x+y))

sum of 20 and 30 is 50

# String slicing

In [46]:
x="geetha govindam"
print(x[0],x[1],x[2],sep=",")

g,e,e

In [47]:
x="geetha govindam"
print(x[0],end="")
print(x[1],end="")
print(x[2])

gee

In [60]:
#x=[start:end:step]start=inclusive,end=exclusive
x[0:3]
print(x[0:3])
print(x[:3])
print(x[0:3:1])
print(x[0:])
print(x[0::1])
print(x[:len(x):])
print(x[::])
print(len(x))

gee
gee
gee
geetha govindam
geetha govindam
geetha govindam
geetha govindam
15

In [65]:
x="geetha govindam"
print(x[-1::-1])         #to reverse the string
print(x[len(x)::-1])
print(x[::-1])

madnivog ahteeg
madnivog ahteeg
madnivog ahteeg

In [99]:
x="kvswangels"
print(x[::2])              #to print altenative characters of astring
print(x[0::2])
print(x[::-2])             #to print the alternative characters in reverse order

ksagl
ksagl
senwv

In [112]:
print(x[-3::])
print(x[len(x)-3::])
print(x[(len(x)//2):(len(x)//2)-2:-1])

els
els
na

In [113]:
x="interest"
print(x.upper())     # changing lower to upper

INTEREST

In [114]:
y="HOW ARE YOU"
print(y.lower())      # changing upper case to lower case

how are you

In [115]:
x="hgJGHjg"
print(x.swapcase())     # changing the letters in lower case to upper case and upper case to lower case

HGjghJG

In [117]:
x="hgfkhjdgghikgihfyhhguuh"
print(x.count("g"))
print(x.count("h"))

5
7